@charset "utf-8";
/* CSS Document */

/*=====================================KIMBIA STYLES===================================================*/

#tabId-1
{background: none repeat scroll 0 0 #ffffff !important; border: 1px solid #00b9f2;
}
   
#tabId-2
{background: none repeat scroll 0 0 #ffffff !important; border: 1px solid #00b9f2
 }
   /* new styling added 9-8-2015 ---- third tab */
#tabId-3
{background:  none repeat scroll 0 0 #ffffff !important; border: 1px solid #00b9f2
 }  
 
  .k_jquery-ui .ui-state-active:nth-child(3), .k_jquery-ui .ui-widget-content .ui-state-active:nth-child(3), .k_jquery-ui .ui-widget-header .ui-tabs-selected:nth-child(3) .ui-state-active:nth-child(3), .k_jquery-ui .ui-state-active:nth-child(2), .k_jquery-ui .ui-widget-content .ui-state-active:nth-child(2), .k_jquery-ui .ui-widget-header .ui-tabs-selected:nth-child(2) .ui-state-active:nth-child(2), .k_jquery-ui .ui-state-active:nth-child(1), .k_jquery-ui .ui-widget-content .ui-state-active:nth-child(1), .k_jquery-ui .ui-widget-header .ui-tabs-selected:nth-child(1) .ui-state-active:nth-child(1), form > div > div > ul > li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active > a
  {
	   color: #337ab7;  background-color: #337ab7;  border-color: #2e6da4;
	  }
  
   
 div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all li.ui-state-default.ui-corner-top.ui-tabs-selected a { 
 color:#FFF;
	}
  
  div.k_jquery-ui div.ui-tabs.ui-widget.ui-widget-content, .k_jquery-ui .ui-widget-content {
  border: none;
}

/* div.k_jquery-ui div.ui-tabs.ui-widget.ui-widget-content.ui-corner-all div#tabId-1.ui-tabs-panel.ui-widget-content.ui-corner-bottom div.kimbiaDiv */

div.ui-tabs-panel div.kimbiaDiv form#form_kimbia_1{width:100%}

   
div.k_content{margin:0;}

.ui-tabs-panel{ margin:0; padding:0;}

label.groupLabel.section.k_askArrayMain.k_donation{margin:0;}


#form_kimbia_1 div.k_masthead,#form_kimbia_2 div.k_masthead,#form_kimbia_3 div.k_masthead{display:none;}

label.groupLabel.section.k_askArrayMain.k_registration {display:none;}

#kimbiaView_1_TicketQuantity label.k_required, #kimbiaView_2_TicketQuantity label.k_required, #kimbiaView_3_TicketQuantity label.k_required {width:auto; float:none; clear:both;}
#kimbiaView_1_Howdidyouhearaboutthisevent_ label.k_required.long{float:none; clear:both; padding-bottom:4px; margin-bottom:4px;}
/**/
#form_kimbia_1,#form_kimbia_2,#form_kimbia_3 { margin-top:0; margin-left:auto;}
#form_kimbia_1 label,#form_kimbia_2 label,#form_kimbia_3 label {font-weight:normal; width:auto; overflow:visible; float:left; clear:none;}
#form_kimbia_1 label.groupLabel, #form_kimbia_2 label.groupLabel, #form_kimbia_3 label.groupLabel {overflow:visible; width:280px; color:#005daa; float:none; font-size:.9em;}
#form_kimbia_1 .k_textarea,#form_kimbia_2 .k_textarea,#form_kimbia_3 .k_textarea {width:200px;}

#form_kimbia_1 .k_sectionProfile select, #form_kimbia_2 .k_sectionProfile select, #form_kimbia_3 .k_sectionProfile select  {position:relative; width:80px; }
#form_kimbia_1 .k_sectionProfile input.k_text, #form_kimbia_2 .k_sectionProfile input.k_text, #form_kimbia_3 .k_sectionProfile input.k_text {position:relative; width:auto; }
#form_kimbia_1 .k_sectionPayment select, #form_kimbia_2 .k_sectionPayment select, #form_kimbia_3 .k_sectionPayment select  {position:relative; width:80px;}
#form_kimbia_1 .k_sectionPayment input.k_text, #form_kimbia_2 .k_sectionPayment input.k_text, #form_kimbia_3 .k_sectionPayment input.k_text {position:relative; width:auto; font-size:xx-small;}

#form_kimbia_1 label.k_installment,#form_kimbia_2 label.k_installment,#form_kimbia_3 label.k_installment { width:220px; overflow:hidden; }
#form_kimbia_1 label.k_oneTime,#form_kimbia_2 label.k_oneTime,#form_kimbia_3 label.k_oneTime { width:220px; overflow:hidden; }
#form_kimbia_1 select.k_installment,#form_kimbia_2 select.k_installment,#form_kimbia_3 select.k_installment { margin-left:0px;}
#form_kimbia_1 span.k_installment.k_paymentPlanHint,#form_kimbia_2 span.k_installment.k_paymentPlanHint,#form_kimbia_3 span.k_installment.k_paymentPlanHint { display:none;}

#form_kimbia_1 label.k_paymentPlanTitle,#form_kimbia_2 label.k_paymentPlanTitle,#form_kimbia_3 label.k_paymentPlanTitle {font-weight:normal; float:none; clear:both; padding:8px;}
#form_kimbia_1 label.k_textAreaInput,#form_kimbia_2 label.k_textAreaInput,#form_kimbia_3 label.k_textAreaInput  {font-weight:normal; width:auto; float:none; clear:both;}
#form_kimbia_1 .fieldCaption,#form_kimbia_2 .fieldCaption ,#form_kimbia_3 .fieldCaption {width:auto; margin-left:0; margin-bottom:4px;}
#form_kimbia_1 div.k_payment input,#form_kimbia_2 div.k_payment input,#form_kimbia_3 div.k_payment input {width:80px;}
#form_kimbia_1 div.k_payment label,#form_kimbia_2 div.k_payment label,#form_kimbia_3 div.k_payment label {width:140px;}

/* .k_column { width:100%; margin-top:-20px; margin-left:auto; margin-right:auto;} */

#form_kimbia_1 button.k_button,#form_kimbia_2 button.k_button,#form_kimbia_3 button.k_button{  width:150px; margin-left:10%; margin-right:auto; margin-top:16px; text-align:center; font-size:medium; font-weight:normal; padding:8px;}

#form_kimbia_1 label.k_nonChoice.long,#form_kimbia_2 label.k_nonChoice.long,#form_kimbia_3 label.k_nonChoice.long{width:auto;}
#form_kimbia_1 label.k_required.long,#form_kimbia_2 label.k_required.long,#form_kimbia_3 label.k_required.long{width:auto;}


#form_kimbia_1 label.k_radioCB,#form_kimbia_2 label.k_radioCB,#form_kimbia_3 label.k_radioCB{width:100%; float:none; clear:right;}	
#form_kimbia_1 label.k_radioCB span.fieldCaption,#form_kimbia_2 label.k_radioCB span.fieldCaption,#form_kimbia_3 label.k_radioCB span.fieldCaption{font-weight:lighter; } 
#form_kimbia_1 input.k_radioCB,#form_kimbia_2 input.k_radioCB,#form_kimbia_3 input.k_radioCB{font-size:18px; margin:0;}
div#kimbiaView_1_DonationLevel,div#kimbiaView_2_DonationLevel,div#kimbiaView_3_DonationLevel{width:auto; overflow:visible;}
div#kimbiaView_1_DonationLevel.k_donation label.k_nonChoice{margin-left:0px; display:block; clear:both; float:none;}
div#kimbiaView_1_DonationLevel.k_donation span.k_otherMoneyHint{margin-left:auto; display:block;}
div#kimbiaView_1_DonationLevel.k_donation input.k_money {margin-left:0px; width:95px; font-size:medium;}
#form_kimbia_1 input.k_number,#form_kimbia_2 input.k_number,#form_kimbia_3 input.k_number{width:50%; margin-left:0; font-size:medium; padding:4px; text-align:center;}	
 div.ui-tabs ul.ui-tabs-nav li.ui-state-default a{font-size:1.2em; font-weight:normal; color:#005dab;} /*CONTROLS TAB TEXT ON WIDGETS*/


@media only screen and (min-width: 481px) {
	#tabId-1, #tabId-2, #tabId-3
{background: none repeat scroll 0 0 #ffffff !important;}
 /* border: 3px solid #005dab; */
 /* border: 3px solid #e3de05; */  
 /*  border: 3px solid #e26a0d; */	

#form_kimbia_1 .k_sectionProfile input.k_text, #form_kimbia_1 .k_sectionProfile select, #form_kimbia_2 .k_sectionProfile input.k_text, #form_kimbia_2 .k_sectionProfile select, #form_kimbia_3 .k_sectionProfile input.k_text, #form_kimbia_3 .k_sectionProfile select, #form_kimbia_1 .k_sectionPayment input.k_text, #form_kimbia_1 .k_sectionPayment select, #form_kimbia_2 .k_sectionPayment input.k_text, #form_kimbia_2 .k_sectionPayment select, #form_kimbia_3 .k_sectionPayment input.k_text, #form_kimbia_3 .k_sectionPayment select  {font-size:medium;}

#form_kimbia_1 button.k_button,#form_kimbia_2 button.k_button,#form_kimbia_3 button.k_button{ margin-left:20%;}
#form_kimbia_1 label,#form_kimbia_2 label,#form_kimbia_3 label  {width:auto;}		
#form_kimbia_1 label.k_radioCB,#form_kimbia_2 label.k_radioCB,#form_kimbia_3 label.k_radioCB{width:98%; }	
#form_kimbia_1 label.groupLabel, #form_kimbia_2 label.groupLabel, #form_kimbia_3 label.groupLabel{ padding:2% 1%; width:98%; font-size:1.6em;}
#form_kimbia_1 label.k_installment,#form_kimbia_2 label.k_installment,#form_kimbia_3 label.k_installment, #form_kimbia_1 label.k_oneTime,#form_kimbia_2 label.k_oneTime,#form_kimbia_3 label.k_oneTime { width:100%; overflow:hidden; }
	
#form_kimbia_1 select.k_installment,#form_kimbia_2 select.k_installment,#form_kimbia_3 select.k_installment { margin-left:0px;}
#form_kimbia_1 span.k_installment.k_paymentPlanHint,#form_kimbia_2 span.k_installment.k_paymentPlanHint,#form_kimbia_3 span.k_installment.k_paymentPlanHint { display:inline; font-weight:normal;}
	
#form_kimbia_1 .k_textarea,#form_kimbia_2 .k_textarea,#form_kimbia_3 .k_textarea  {width:350px;}
#form_kimbia_1 div.k_payment input,#form_kimbia_2 div.k_payment input,#form_kimbia_3 div.k_payment input {width:100px;}
#form_kimbia_1 div.k_payment label,#form_kimbia_2 div.k_payment label,#form_kimbia_3 div.k_payment label {width:145px;}
}

@media only screen and (min-width: 769px) {
	

#form_kimbia_1, #form_kimbia_2, #form_kimbia_3{margin-left:auto; margin-right:auto; }
#form_kimbia_1 label,#form_kimbia_2 label,#form_kimbia_3 label {font-size:medium; width:auto; margin-right:4px; float:left;}
#form_kimbia_1 .k_sectionProfile input.k_text, #form_kimbia_1 .k_sectionProfile select, #form_kimbia_2 .k_sectionProfile input.k_text, #form_kimbia_2 .k_sectionProfile select, #form_kimbia_3 .k_sectionProfile input.k_text, #form_kimbia_3 .k_sectionProfile select, #form_kimbia_1 .k_sectionPayment input.k_text, #form_kimbia_1 .k_sectionPayment select, #form_kimbia_2 .k_sectionPayment input.k_text, #form_kimbia_2 .k_sectionPayment select, #form_kimbia_3 .k_sectionPayment input.k_text, #form_kimbia_3 .k_sectionPayment select   {position:relative; margin-left:200px; width:auto; font-size:medium;}

#form_kimbia_1 label.groupLabel,#form_kimbia_2 label.groupLabel,#form_kimbia_3 label.groupLabel {font-size:x-large; color:#005dab; background-color:#FFFFFF; width:auto;}
#form_kimbia_1 label.k_installment,#form_kimbia_2 label.k_installment,#form_kimbia_3 label.k_installment { width:auto; overflow:visible; font-size:medium;}
#form_kimbia_1 label.k_oneTime,#form_kimbia_2 label.k_oneTime,#form_kimbia_3 label.k_oneTime { width:auto; overflow:hidden; font-size:medium;}
#form_kimbia_1 select.k_installment,#form_kimbia_2 select.k_installment,#form_kimbia_3 select.k_installment { margin-left:0px; font-size:medium;}	
#form_kimbia_1 .k_paymentPlanHint.k_installment,#form_kimbia_2 .k_paymentPlanHint.k_installment,#form_kimbia_3 .k_paymentPlanHint.k_installment {font-size:medium; font-weight:normal;}	
#form_kimbia_1 span.k_installment.k_paymentPlanHint,#form_kimbia_2 span.k_installment.k_paymentPlanHint,#form_kimbia_3 span.k_installment.k_paymentPlanHint { display:inline;}

#form_kimbia_1 .k_money.k_otherMoney,#form_kimbia_2 .k_money.k_otherMoney,#form_kimbia_3 .k_money.k_otherMoney {font-size:medium;}	

#form_kimbia_1 .k_textarea,#form_kimbia_2 .k_textarea,#form_kimbia_3 .k_textarea {width:550px;}
#form_kimbia_1 div.k_payment input,#form_kimbia_2 div.k_payment input,#form_kimbia_3 div.k_payment input, #form_kimbia_1 div.k_payment label,#form_kimbia_2 div.k_payment label,#form_kimbia_3 div.k_payment label, #form_kimbia_1 .k_payPlan.k_installment,#form_kimbia_2 .k_payPlan.k_installment,#form_kimbia_3 .k_payPlan.k_installment {width:auto;}
}
/* ============================= KIMBRIA STYLES (Added 29 Nov 2018 thurston) ================================== */

/*
29 Nov 2018 thurston add "border: none !important;"
*/

.k_jquery-ui .ui-tabs .ui-tabs-nav {
	border: none !important;
}

/* ============================= END KIMBRIA STYLES ================================== */